* {
	font-family: 'Roboto';
}
body {
	margin: 0;
}

.new-document-button {
	position:fixed;
	right:24px;
	bottom:24px;
}

.workspace {
	padding:100px 50px;
	margin-left:256px;
}
.workspace .search-bar {
	margin-bottom:30px;
}
.workspace .search-bar > * {
	vertical-align:middle;
}

.document {
	position:absolute;
	width:600px;
	left: calc(50vw - 300px);
	top: 300px;
}
.document .document-title {
	font-size:36px;
	margin-bottom:30px;
}
.document .document-field {
	display:block;
	height:48px;
	line-height:48px;
	vertical-align:bottom;
	text-align:left;
	margin-bottom:10px;
}
.document .document-field > * {
	vertical-align: center;
}

.document .lock-button {
    top: 10px;
    right: 10px;
}
.document .document-footer {
	text-align:right;
	margin-top:50px;
}


.document-collection {
	display:inline-flex;
    flex-direction:row;
    flex-wrap:wrap;
}
.document-collection .document-card {
	position:relative;
	width: 200px;
	height: 250px;
	margin-right: 30px;
	margin-bottom: 30px;
	display:inline-block;
	vertical-align:top;
	padding:20px;

	transition: 0.3s ease-out;
	overflow:hidden;

	cursor: pointer;
}
.document-collection .document-card.collection-title {
	font-size:24px;
	line-height:210px;
	vertical-align: top;
	text-align:center;
	margin-top:10px;
}
.document-card * {
	text-overflow:ellipsis;
	overflow:hidden;
}
.document-card > * {
	width:100%;
	height:100%;
}
.document-card .card-delete-button {
	opacity: 0;
	transition:opacity 0.3s ease-out;
}
.document-card:hover {
	transform: scale(1.03);
}
.document-card:hover .card-delete-button {
	opacity: 1;
}

button:nth-last-child(8),
button:nth-last-child(8) ~ button,
span:nth-last-child(8) ~ button {
	line-height: 32px;
}
